@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

*{
    margin: 0;
    text-decoration: none;
    font-family: 'DynaPuff', cursive;
}


::-webkit-scrollbar{
    margin-right: 3px;
    width: 10px;
}

::-webkit-scrollbar-track{
    color: transparent;
  }

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 20px;
    border: .3px solid black;
  }



body{
    background:url(./img/estrelas.jpg);
    background-repeat: repeat;
    background-size: 40% ;
    animation: Estrelas 70s  ease-in-out infinite alternate;
}

@keyframes Estrelas {
    to {
        background-position: 100% 600%;
    }
}